*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--font-nomrmal);
}
:root{
    --font-nomrmal: 1em;
    --font-grande: 2em;
    --font-pequeño: 0.75em;
    --font-texto: 0.875em;
}

.container{
    overflow:visible;
    background-image: url(./img/comida-china-tipica.jpg);
    overflow-x: hidden;
}

.container::-webkit-scrollbar {
    -webkit-appearance: none;
}

.container::-webkit-scrollbar:vertical {
    width:5px;
}

.container::-webkit-scrollbar-button:increment,.container::-webkit-scrollbar-button {
    display: none;
} 


.container::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.header{
    width: 100vw;
    height: 15vh;
    background-color: black;
    color: white;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-grande);
}

.contenido{
    background-color: transparent;
    width: 100vw;
    height: 85vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}


.flip-card {
    margin-top: 15px;
    justify-self: center;
    width: 98%;
    height: 85%;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    border: 4px solid black;
    border-radius: 10px;
  }
  
  .flip-card-front h1{
    font-size: 24px;
  }
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: white;
    color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: white;
    color: black;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10% 10px 0 10px;
    border-radius: 10px;
  }


.canasta{
    width: 100vw;
    height: 100vh;
    background-color: white;
    background-image: url(./img/canasta.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    text-align: center;
    font-size: var(--font-grande);
}


.pescado{
    position:absolute;
    left: 700px;
    top: 275px;
}

.pierna_pollo{
    position:absolute;
    left: 790px;
    top: 290px;
}

.pan_integral{
    position:absolute;
    left: 700px;
    top: 200px;
}

.arroz{
    position:absolute;
    left: 500px;
    top: 200px;
}

.ajonjoli{
    position:absolute;
    left: 500px;
    top: 290px;
}
.melon{
    position:absolute;
    left: 350px;
    top: 275px;
}
.sandia{
    position:absolute;
    left: 900px;
    top: 275px;
}

.calabaza{
    position:absolute;
    left: 950px;
    top: 180px;
}

.cereal{
    position:absolute;
    left: 820px;
    top: 180px;
}

.frijol{
    position:absolute;
    left: 600px;
    top: 180px;
}

.berengena{
    position:absolute;
    left: 220px;
    top: 180px;
}

.ajo{
    position:absolute;
    left: 350px;
    top: 180px;
}

.brocoli{
    position:absolute;
    left: 600px;
    top: 290px;
}

.nuez{
    position:absolute;
    left: 430px;
    top: 130px;
}

.jitomate{
    position:absolute;
    left: 1050px;
    top: 200px;
}

.brocolibro{
    position:absolute;
    left: 1050px;
    top: 100px;
}

.huevo{
    position:absolute;
    left: 300px;
    top: 120px;
}

.alfalfa{
    position:absolute;
    left: 600px;
    top: 400px;
}

.rabanos{
    position:absolute;
    left: 800px;
    top: 400px;
}

.trigo{
    position:absolute;
    left: 450px;
    top: 400px;
}

.frutosS{
    position:absolute;
    left: 700px;
    top: 400px;
}
.frutosSe{
    position:absolute;
    left: 420px;
    top: 260px;
}

.carne{
    position:absolute;
    left: 800px;
    top: 350px;
}

.pescado:hover,
.pierna_pollo:hover,
.pan_integral:hover,
.arroz:hover,
.ajonjoli:hover,
.melon:hover,
.sandia:hover,
.calabaza:hover,
.cereal:hover,
.frijol:hover,
.berengena:hover,
.ajo:hover,
.brocoli:hover,
.nuez:hover,
.jitomate:hover,
.brocolibro:hover,
.huevo:hover,
.alfalfa:hover,
.rabanos:hover,
.trigo:hover,
.frutosS:hover,
.frutosSe:hover,
.carne:hover
{
    width: 130px;
    height: 120px;
    cursor: pointer;
}